.divider {
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
  border: 1px solid rgb(114, 114, 114);
}

.habit-component-header {
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}

.habit-title {
  grid-column-start: 2;
  margin: 0;
}

.edit-pencil-icon {
  margin-left: auto;
  background-color: rgb(153, 209, 209);
  border: 3px solid rgb(110, 134, 141);
  border-radius: 8px;
  color: rgb(40, 40, 40);
  font-size: 22px;
  padding: 3px;
  cursor: pointer;
}

.edit-pencil-icon:active {
  background-color: rgb(89, 123, 123);
  border: 3px solid rgb(110, 134, 141);
  color: rgb(40, 40, 40);
}

.list-item {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}

.design-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.day-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 80px;
  min-width: 68px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  transition: all 150ms ease-in-out;
}

.today {
  border: 8px solid rgb(15, 15, 15);
}

.day-container:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}

.day-container:active {
  top: 2px;
  left: 2px;
  box-shadow: inset 0 0 10px rgba(82, 82, 82, 0.85);
}

.complete {
  background-color: var(--complete);
}
.incomplete {
  background-color: var(--failed);
}

.to-come {
  background-color: var(--later-day);
}

.invisible {
  display: none;
}

.opacity-none {
  opacity: 0;
}
